.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table.Grid, table.Grid tr, table.Grid tr td {
  border: 1px solid;
  border-collapse: collapse;
}

table.Grid {
  border: black;
}

table.Grid tr {
  height: 20px;
}

table.Grid tr td {
  width: 20px;
}

.tile {
  width: 100%;
  height: 100%;
  position: relative;
}

.alive {
  background-color: green;
}

.dead {
  background-color: white;
}
